<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Login</title>
        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="stylesheet" href="../../static/css/login.css">
		<!-- JQuery -->
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	</head>
	<body>
		<!--navbar start-->
		<nav>
			<div class="logo">
				<img src="../../static/img/tray.png" alt="logo" />
				<a href="../index.html">GotMenu</a>
			</div>
			<div class="btn">
				<a href="login.html">로그인</a>
				<a href="signup.html">회원가입</a>
			</div>
		</nav>
		<!--nevbar end-->

        <section class="content">
			<div class="title">
                <span>GotMenu에 오신 것을</span><br>
				<span class="welcome">환영합니다</span>
			</div>
            <div class="row">
                <span class="label">아이디</span>
                <input type="text" id="id" placeholder="아이디를 입력해주세요."/> 
            </div>
            <div class="row">
                <span class="label">비밀번호</span>
                <input type="text" id="pw" placeholder="비밀번호를 입력해주세요."/>
            </div>
            <button onclick="login()">로그인하고 메뉴 추천하러 가기</button> <!--구현 필요-->
		</section>

        <!--footer start -->
		<footer class="footer">
			<span class="copyright">CopyrightⓒTUKstudents</span>
			<ul class="footer-menu">
				<li>제안하기</li>
				<li>후원하기</li>
				<li>제작 과정</li>
			</ul>
			<span class="tel">Tel : 010-1234-5678</span>
			</div>
		</footer>
		<!--footer end -->
		<script src="/js/login.js"></script>
	</body>
</html>
