<html layout:decorate="~{layout}">

        <section layout:fragment="content"  class="content">
			<HEAD>
				<link rel="stylesheet" href="../css/login.css">
				<title>Login</title>

			</HEAD>
			<div class="title">
                <span>GotMenu에 오신 것을</span><br>
				<span class="welcome">환영합니다</span>
			</div>
            <div class="row">
                <span class="label">아이디</span>
                <input type="text" id="id" placeholder="아이디를 입력해주세요."/> 
            </div>
            <div class="row">
                <span class="label">비밀번호</span>
                <input type="text" id="pw" placeholder="비밀번호를 입력해주세요."/>
            </div>
            <button onclick="login()">로그인하고 메뉴 추천하러 가기</button> <!--구현 필요-->
			<script src="/js/user/login.js"></script>
		</section>

</html>

