<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>

    <!-- JQuery -->
    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous">
    </script>

</head>
<body>

<Form id="signup" method="post">
    <label>ID </label>: <input type="text" id="id" name="id"> <br>
    <label>PW </label>: <input type="text" id="pw" name="password"> <br>
</Form>
<button onclick="signup()">확인</button>

<script src="/js/user/signup.js"></script>

</body>
</html>