<html layout:decorate="~{layout}">
        <!--content start-->
        <section layout:fragment="content" class="content">
			<head>
				<title>Signup</title>
				<link rel="stylesheet" th:href="@{/css/user/signup.css}" />
			</head>

			<div class="title">
                <span>GotMenu에 오신 것을</span><br>
				<span class="welcome">환영합니다</span>
			</div>
            <form id="signup" method="post">
                <div class="row">
                    <span class="label">아이디</span>
                    <input type="text" name="id" id="id" placeholder="아이디를 입력해주세요."/> 
                </div>
                <div class="row">
                    <span class="label">비밀번호</span>
                    <input type="text" name="password" id="pw" placeholder="비밀번호를 입력해주세요."/>
                </div>
                <div class="row">
                    <span class="label">재입력</span>
                    <input type="text" name="repassword" id="repw" placeholder="비밀번호를 다시 입력해주세요."/>
                </div>
            </form>
            <button onclick="signup()">가입하기</button> <!--구현 필요-->
            <script src="/js/user/signup.js"></script>
		</section>
        <!-- content end -->
</html>

