<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Signup</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/signup.css" />
		<!-- JQuery -->
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	</head>
	<body>
		<!--navbar start-->
		<nav>
			<div class="logo">
				<img src="../img/tray.png" alt="logo" />
				<a href="/">GotMenu</a>
			</div>
			<div class="btn">
				<a href="/user/login">로그인</a>
				<a href="/user/signup">회원가입</a>
			</div>
		</nav>
		<!--nevbar end-->

        <!--content start-->
        <section class="content">
			<div class="title">
                <span>GotMenu에 오신 것을</span><br>
				<span class="welcome">환영합니다</span>
			</div>
            <form id="signup" method="post">
                <div class="row">
                    <span class="label">아이디</span>
                    <input type="text" name="id" id="id" placeholder="아이디를 입력해주세요."/> 
                </div>
                <div class="row">
                    <span class="label">비밀번호</span>
                    <input type="text" name="password" id="pw" placeholder="비밀번호를 입력해주세요."/>
                </div>
                <div class="row">
                    <span class="label">재입력</span>
                    <input type="text" name="password" id="pw" placeholder="비밀번호를 다시 입력해주세요."/>
                </div>
            </form>
            <button onclick="signup()">가입하기</button> <!--구현 필요-->
		</section>
        <!-- content end -->

         <!--footer start -->
		<footer class="footer">
			<span class="copyright">CopyrightⓒTUKstudents</span>
			<ul class="footer-menu">
				<li>제안하기</li>
				<li>후원하기</li>
				<li>제작 과정</li>
			</ul>
			<span class="tel">Tel : 010-1234-5678</span>
			</div>
		</footer>
		<!--footer end -->
		<script src="/js/user/signup.js"></script>
	</body>
</html>

