<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="@{/css/style.css}" />
		<link rel="stylesheet" th:href="@{/css/menu/menuList_subframe.css}" />
		<title>메뉴-서브프레임</title>
	</head>
	<body>
		<div class="menu-content-box">
			<div class="title-row">
				<h1>미역국, 김치, 쌀밥</h1>
				<span class="menu-likes">+1234</span>
			</div>
			<div class="menu-row">
				<span class="menu-lable">글쓴이</span>
				<span class="menu-content">ttrat</span>
			</div>
			<div class="menu-row">
				<span class="menu-lable">칼로리</span>
				<span class="menu-content">700kcal</span>
			</div>
			<div class="menu-row">
				<span class="menu-lable">태그</span>
				<span class="menu-content">#건강식#입맛없을때#뜨듯</span>
			</div>
		</div>
		<div class="comment-box">
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
			<div class="comment-row">
				<div class="profile-row">
					<div class="profile-circle"></div>
					<span class="profile-name">ttrat</span>
				</div>
				<span class="comment-content">미역국은 ㄹㅇ 킹정.</span>
			</div>
		</div>
	</body>
</html>
