<html layout:decorate="~{layout}">
	<head layout:fragment="specificHeader">
		<title>메뉴</title>
		<link rel="stylesheet" th:href="@{/css/menu/menuList.css}" />
	</head>
	<body>
		<div layout:fragment="content" class="content-box">
			<div class="mainframe">
				<div class="title-row">
					<h1 class="title">메뉴 추천</h1>
					<div class="searchbar-row">
						<select id="target">
							<option>메뉴</option>
							<option>메뉴 설명</option>
							<option>태그</option>
							<option>글쓴이</option>
						</select>
						<input type="text" id="search_kw" class="form-control" th:value="${kw}" placeholder="검색어를 입력해주세요" />
						<button type="button" id="btn_search" onclick="search()">
							<img th:src="@{/img/search.png}" alt="" />
						</button>
					</div>
					<a th:href="@{/menu/create}" class="menu-create">메뉴 등록</a>
				</div>
				<div class="header-row">
					<span class="title-header">메뉴 제목</span>
					<span class="tags-header">태그</span>
					<span class="viewed-header">조회수</span>
					<span class="likes-header">평점</span>
				</div>
				<div id="menuBox" class="menuList-box">

				</div>
				<div id="pageBox">

				</div>
			</div>
			<iframe th:src="@{/menu/list/subframe}" frameborder="0" scrolling="auto"></iframe>
			<script src="/js/menu/menuList.js"></script>
			<script>search()</script>

		</div>
	</body>
	<!-- content end -->
</html>
