<html layout:decorate="~{layout}">  <!--템플릿 상속-->
<div layout:fragment="content" class="container">   <!-- layout의 content fragment에 삽입 -->
    <h5 class="my-3 border-bottom pb-2">메뉴 등록</h5>
    <form th:action="@{/menu/create}" th:object="${menuForm}" method="post">    <!-- form을 작성하면 POST로 create 메서드에 전송-->
    	<div th:replace="errForm :: formErrorsFragment"></div>
        <div class="mb-3">
            <label for="menuComposition" class="form-label">메뉴 조합</label>
            <input type="text" th:field="*{menuComposition}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="menuDetail" class="form-label">메뉴 세부 정보</label>
            <textarea th:field="*{menuDetail}" class="form-control" rows="10"></textarea>
        </div>
        <div class="mb-3">
            <label for="menuDescription" class="form-label">메뉴 설명</label>
            <textarea th:field="*{menuDescription}" class="form-control" rows="10"></textarea>
        </div>
        <div class="mb-3">
            <label for="tags" class="form-label">태그</label>
            <textarea th:field="*{tags}" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="추가하기" class="btn btn-primary my-2">
    </form>
</div>
</html>