@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,400;1,500&display=swap");

body {
	font-family: "Ubuntu", sans-serif;
	-ms-overflow-style: none;
}

/* 스크롤바 감춤 */
::-webkit-scrollbar {
	display: none;
}

.menu-content-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.title-row > h1 {
	display: inline-block;
	font-size: 40px;
	margin: 70px 10px;
}

.menu-likes {
	margin-left: 20px;
	background-color: #ad9fe3;
	border-radius: 15px;
	padding: 10px;
	text-align: center;
	color: white;
	font-weight: 500;
}

.menu-row {
	margin: 20px 30px;
}

.menu-lable {
	display: inline-block;
	padding: 8px;
	background-color: #ad9fe3;
	border-radius: 15px;
	width: 70px;
	text-align: center;
	color: white;
	font-weight: 900;
}

.menu-content {
	font-size: 18px;
	margin-left: 30px;
}

.comment-box {
	width: 100%;
}

.comment-row {
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 20px 40px;
	border: gray solid 1px;
}

.profile-row {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
}

.profile-circle {
	display: inline-block;
	background-color: #ad9fe3;
	width: 10px;
	height: 10px;
	border-radius: 50px;
}

.comment-content {
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
